{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/landing-page.css") }}">
{% endblock %}
{% block title %}Kurzy{% endblock %}

{% block body %}
    <section class="page-section portfolio" id="portfolio">
        <div class="container min-vh-100">
            {% for c in course.chapters %}
                <a href="{{ path('moodle_chapter',{'courseSlug':course.slug,'chapterSlug':c.slug}) }}">
                    <div class="row p-1 m-1 border border-primary rounded">
                        <div class="col-6">
                            <h3 class="m-0">{{ c.name }}</h3>
                        </div>
                        <div class="col-4">
                            <div class="progress border border-success " style="height: 20px; margin: 10px;">
                                <div class="progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-2 text-right">
                            <i class="text-success fas fa-check fa-2x"></i>
                            <i class="text-info fas fa-book-reader fa-2x"></i>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>


{% endblock %}

